---
import SocialIcon from "./SocialIcon.astro";
---
<header class="main-bar">
    <div class="title">
        <h1>Ejercicios de programacion</h1>
    </div>
    <nav class="social-icons">
        <SocialIcon name="Linkedin" icon="" alt="" link=""></SocialIcon>
        <SocialIcon name="Github" icon="" alt="" link=""></SocialIcon>
    </nav>
</header>